H1{
  margin-bottom: auto;
  text-align: center;
}
body {
  background-image:url(47587.jpg);
  
    font-family: Arial, sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    background-color: #f7f3f3; 
   }
  
  .login-container {
    background: rgb(202, 202, 246);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;

    margin: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  #errorMessage {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
  }
  section{
    transform: rotate(20deg);
    padding: 20px;
    margin: 20px;
    background: #c7c9b0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

  
  
